.page {
	background-image: linear-gradient(to right bottom, #051937, #004667, #00777d, #31a676, #adcd66);
	min-height: 100vh;
}

.card {
	margin-top: 10vh;
	border-radius: 14px;
	background-color: #e6e6e6e8;
}

.content {
	margin-left: auto;
    margin-right: auto; 
}

.card-img-top { 
    padding-top: 20px;
}