<!DOCTYPE html>
<html>

<head>
    <title>ServerLess Pay</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" type="image/png" href="htt" />-->
    <link rel='stylesheet' href="/assets/css/index.css"> 
</head>

<body>

    <div class='container-fluid page'>
        
        <div class='row'>
            <div class='col-sm-10 col-sm-10 col-md-8 col-lg-4 content'>
                <div class="card container-fluid">
                    <div class='upper'>
                        <div>
                            <p class="lead text-right">$<span id='amount'></span>Raised</p>
                        </div>
                        <img class="card-img-top" src="/assets/donate.png" alt="Donate">
                        <div class="card-body">
                            <h4 class="card-title text-center">The Serverless Club</h4>
                            <p class="text-center">Donate to The Serverless Club. Any amount is greatly appreciated</p>

                            <script formId="2eeae2134d730ae3d153" src="https://checkout.paymentspring.com/js/paymentspring.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="/assets/js/index.js"></script>
    </div>
</body>

</html>